.explore-container {
    display: grid;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
  }
  
  .explore-heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .gallery-subheading {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .explore-section {
    margin-bottom: 40px;
  }
  
  .explore-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .gallery-list, .attractions-list, .experiences-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gallery-item, .attraction-item, .experience-item {
    width: 100%;
    max-width: 200px;
    text-align: center;
  }
  
  .gallery-item img, .attraction-item img, .experience-item img {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: 65px;
  }
  
  .gallery-item p, .attraction-item p, .experience-item p {
    margin-top: 10px;
  }
  .galleryH1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }
  .tagline{
    display: flex;
    justify-content: center;
    align-content: center;
  }
.room-selection{
    display: flex;
    justify-content: center;
    gap:2rem;  
}

.selectionButton{
    background-color: rgb(162, 160, 160);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}