.signup-container {
    text-align: center;
    padding: 50px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: #007bff;
    height: 800px;
    margin-top: 30px;
}

.logo {
    width: 250px;
    height: 250px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #0056b3;
}
.back-button {
   
    margin-top: 40px;
    left:10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    justify-content: center;
    align-content: center;
    
}

.back-button:hover {
    color: #0056b3;
}